# Ignore a pasta de configurações do workspace
.vscode/**

# Ignore as pastas e arquivos de teste
.vscode-test/**
test/**
out/test/**

# Ignore a pasta do código-fonte TypeScript
src/**

# Ignore arquivos de configuração e de versionamento
.github/**
.gitignore
vsc-extension-quickstart.md
tsconfig.json
webpack.config.js
*.map
yarn.lock
package-lock.json
.eslintrc.json

# Ignore o pacote gerado
*.vsix