.vscode/**
.vscode-test/**
.github/**
src/**
test/**
out/test/**

# Ignorar a pasta de dependências de desenvolvimento
node_modules/**

# Ignorar arquivos de configuração
.gitignore
vsc-extension-quickstart.md
tsconfig.json
webpack.config.js
*.map
*.ts
yarn.lock
.eslintrc.json